{{#with rowFolder}}
    <tr>
        <td>
            {{#if routeFromCurrentFolder}}
                <a href="{{routeFromCurrentFolder}}/folder-report.html">{{path}}</a>
            {{else}}
                {{path}}
            {{/if}}
        </td>
        <td class="center"><a href="{{linkFilesOfSubfolder}}">{{numberOfFiles}}</a></td>
        <td class="center">{{numberOfMethods}}</td>
        <td class="center lowLvl">{{complexitiesByStatus.cognitive.correct}}</td>
        <td class="center mediumLvl">{{complexitiesByStatus.cognitive.warning}}</td>
        <td class="center highLvl">{{complexitiesByStatus.cognitive.error}}</td>
        <td class="center lowLvl">{{complexitiesByStatus.cyclomatic.correct}}</td>
        <td class="center mediumLvl">{{complexitiesByStatus.cyclomatic.warning}}</td>
        <td class="center highLvl">{{complexitiesByStatus.cyclomatic.error}}</td>
    </tr>
{{/with}}
