{{#with rowFolder}}
    <tr>
        <td>
            {{#if routeFromCurrentFolder}}
                <a href="{{routeFromCurrentFolder}}/folder-report.html">{{path}}</a>
            {{else}}
                {{path}}
            {{/if}}
        </td>
        <td class="center">{{numberOfFiles}}</td>
        <td class="center">{{numberOfMethods}}</td>
        <td class="center correct">{{complexitiesByStatus.cognitive.correct}}</td>
        <td class="center warning">{{complexitiesByStatus.cognitive.warning}}</td>
        <td class="center error">{{complexitiesByStatus.cognitive.error}}</td>
        <td class="center correct">{{complexitiesByStatus.cyclomatic.correct}}</td>
        <td class="center warning">{{complexitiesByStatus.cyclomatic.warning}}</td>
        <td class="center error">{{complexitiesByStatus.cyclomatic.error}}</td>
    </tr>
{{/with}}
